<nav class="toolbar">
    <img style="float: left; margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); margin-left: 20px;" width="100px" alt="Logo" src="{{LOGO}}" />
    <span style="float: left; margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">Welcome To&nbsp;RATCO</span>
</nav>

<div style="margin-top: 70px; width: 100%; text-align: center; display: block;">
    <img style='width: 100px; height:100px;' src="./assets/images/block.png"/>
    <h2 style="color:#001e3d; font-weight: bold;">{{getError()}}</h2>
</div>