<div style="background-color: #001e3d; text-align: center;">
    <h2 mat-dialog-title style="color: white;">{{Title}}</h2>
    <label style="color: #8397ac; font-size: small; font-weight: bold;">{{Message}}</label><br><br>
    <mat-dialog-content class="container2">
    </mat-dialog-content>
    <mat-dialog-actions style="display: flex;">
        <button style="margin-left:20px; margin-right: 10px; flex: 1; background-color: #001e3d; color: #8397ac; border:1px solid #8397ac; font-size: larger;" (click)="no()">No</button>
    <button style="margin-left:20px; margin-right: 10px; flex: 1; background-color: #8397ac; color: #001e3d; border:1px solid silver; font-size: larger;" (click)="yes()">Yes</button>
    </mat-dialog-actions>
</div>
