<nav class="toolbar">
    <img style="float: left; margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); margin-left: 20px;" width="100px" alt="Logo" src="./assets/images/page_logo.png" />
    <span style="float: left; margin: 0; position: relative; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%);">Welcome To&nbsp;{{ProjectName}}</span>
</nav>
<div style="height: 100%; width: 100%; justify-content: center; align-items: center; display: block; margin-top: 15%; margin-bottom: 20px;">
    <div style="width: 100%; text-align: center; display: block;">
        <h1 style="width: 100%; margin: auto;" >Welcome {{GuestName}}</h1>
        <h5 style="width: 100%; margin: auto;">Reservation Number {{ReservationNumber}}</h5>
        <h1 style="width: 100%; margin: auto;">{{Restaurant.Name}}</h1>
        <div style="width: 50%; margin: auto; display: flex;">
            <div style="flex: 1;">
                <img src="./assets/images/back_button.png" style="width:60px;height: 60px; " (click)="goBack()">
            </div>
            <div style="display: flex; justify-content:center; align-items:center;">
                <app-loading-dialog  [ngStyle]="{'opacity':loading}"></app-loading-dialog>
            </div>
            <!-- <div style="flex: 1; position: relative; ">
                <div style="display: inline-block; margin-top: -25px; position: relative; " (click)="goToCart()">
                    <div style="width: 40px; height: 40px; background-color: red; border-radius: 50%; position: absolute; top: -25px; left: 10px;">
                        <p style="color: white; font-size: larger; font-weight: bolder; margin-top: 10px; ">{{ItemsCount}}</p>
                    </div>
                    <img src="./assets/images/cart.png" style="width:60px; height: 50px; display: inline-block; position: absolute; top: 0; left: 0;">
                </div>
            </div> -->
        </div>
    </div>
    <div style="width: 60%; text-align: center; display: block; margin: auto;">
        <table style="list-style-type: none; width: 100%; text-align: center; display: block;">
            <tr style="background-color: #001e3d; width: 100%; text-align: center; display: flex; align-items: center; padding-top: 10px; padding-bottom: 10px; margin-bottom: 1px;">
                <th style="text-align: center; font-size: large; width: 100%; color: white;">Image</th>
                <th style="text-align: center; font-size: large; width: 100%; color: white;">Item</th>
                <th style="text-align: center; font-size: large; width: 100%; color: white;">Quantity</th>
                <th style="text-align: center; font-size: large; width: 100%; color: white;">Price</th>
            </tr>
            <tr *ngFor="let item of OrderItems" style="background-color: #001e3d; width: 100%; text-align: center; display: flex; align-items: center; margin-bottom: 2px;">
                <td style="width: 100%;"><img style="width: fit-content; height: 50px; display: inline-block;" src="{{item.Item.photo}}"></td>
                <td style="text-align: center; font-size: large; color: white; width: 100%;">{{item.Item.name}}</td>
                <td style="text-align: center; font-size: large; color: white; width: 100%;">{{item.Quantity}}</td>
                <td style="text-align: center; font-size: large; color: white; width: 100%;">{{item.Quantity*item.Item.price}}</td>
            </tr>
        </table>
    </div>
    <input style="width: 40%; text-align: center; display: block; margin: auto; background-color: #8397ac; color: #001e3d; border:1px solid silver; border-radius: 10px; font-size: larger; font-weight: bolder; margin-top: 20px;" type="button" value="Send Order" (click)="sendOrder()">
</div>